<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compounds</key>
	<array>
		<array>
			<string>朝不飯ご安</string>
			<string>不安</string>
			<string>anxiety</string>
		</array>
        <array>
            <string>新暑しえい</string>
            <string>新しい</string>
            <string>new</string>
        </array>
        <array>
            <string>新暑しえい</string>
            <string>暑い</string>
            <string>hot(weather)</string>
        </array>
        <array>
            <string>新熱暑しい</string>
            <string>熱い</string>
            <string>hot(thing)</string>
        </array>
		<array>
			<string>特気安分買</string>
			<string>気分</string>
			<string>feeling</string>
		</array>
		<array>
			<string>特理悪安い</string>
			<string>悪い</string>
			<string>bad</string>
		</array>
        <array>
            <string>し忙悪安い</string>
            <string>忙しい</string>
            <string>busy</string>
        </array>
        <array>
            <string>大忙き安い</string>
            <string>大きい</string>
            <string>large</string>
        </array>
        <array>
            <string>白面き安い</string>
            <string>面白い</string>
            <string>funny</string>
        </array>
        <array>
            <string>かっ白面こい安い</string>
            <string>かっこいい</string>
            <string>handsome</string>
        </array>
	</array>
	<key>timeToSolve</key>
	<integer>200</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
