<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compounds</key>
	<array>
		<array>
			<string>白面度安々</string>
			<string>度々</string>
			<string>often</string>
		</array>
		<array>
			<string>白時度安々</string>
			<string>時々</string>
			<string>sometimes</string>
		</array>
		<array>
			<string>にた度ま々</string>
			<string>たまに</string>
			<string>occasionally</string>
		</array>
		<array>
			<string>とも度て々</string>
			<string>とても</string>
			<string>very</string>
		</array>
		<array>
			<string>ずと度っ々</string>
			<string>ずっと</string>
			<string>throughout</string>
		</array>
		<array>
			<string>すとぐっに</string>
			<string>すぐに</string>
			<string>right away</string>
		</array>
		<array>
			<string>そうのちっに</string>
			<string>そのうちに</string>
			<string>soon</string>
		</array>
		<array>
			<string>そっのきっさ</string>
			<string>さっき</string>
			<string>soon</string>
		</array>
		<array>
			<string>そったっま</string>
			<string>また</string>
			<string>again</string>
		</array>
	</array>
	<key>timeToSolve</key>
	<integer>200</integer>
	<key>pointsPerTile</key>
	<integer>10</integer>
</dict>
</plist>
